{% extends "base.html" %}
{% block content %}
    <div class="content-section">
    <h5>If you don't know what you're doing here, click <a href="{{ url_for("help_user") }}">here!</a></h5>
    <br>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Parse DMCA email</legend>

                <div class="form-group">
                    {{ form.dmca_text.label(class="form-control-label") }}

                    {% if form.dmca_text.errors %}
                        {{ form.dmca_text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dmca_text.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dmca_text(class="form-control form-control-lg") }}
                    {% endif %}

                </div>

            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
{% endblock content %}