{% extends "base.html" %}
{% block content %}

    <h4><header class="center">Works on any URL and any <em>external</em> IP address</header></h4>
    <br>

    <!-- Display the form  -->
    <div class="content-section">

        <form method="POST" action="{{ url_for('lookup_main') }}">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Lookup IP or URL</legend>

                <div class="form-group">
                    {{ form.search_input.label(class="form-control-label") }}

                    {% if form.search_input.errors %}
                        {{ form.search_input(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search_input.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.search_input(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", id="btnSubmit") }}
                <span id='tempLoad'></span>
            </div>
        </form>
    </div>

    <div>
    {% for dict_item in output %}
        {% for key, value in dict_item.items() %}
            {% if 'talos' in key %}
                    <h1 class="row">Talos Information</h1>
                    <br>

                    <div style="overflow-x:auto;">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>Blacklist</td>
                            <td>Details</td>
                        </tr>
                        <tr>
                            <td>
                                {% for i in value.blacklist %}
                                    {% if "Yes" in i | string %}
                                        <p style="color: red;">{{ i }}</p>
                                    {% else %}
                                        <p>{{ i }}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td>
                                {% for i in value.information %}
                                    {% if "Poor" in i | string %}
                                        <p style="color: red;">{{ i }}</p>
                                    {% else %}
                                        <p>{{ i }}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}

            {% if 'abuseipdb' in key %}

                    <br>
                    <h1 class="row">AbuseIPDB Information</h1>
                    <br>

                    <div style="overflow-x:auto;">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>Summary</td>
                                <td>Attack descriptions</td>
                            </tr>
                            <tr>
                                <td>
                                    {% for i in value.summary %}
                                        <p>{{ i }}</p>
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for i in value.information %}
                                        <p>{{ i }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>

            {% endif %}

            {% if "virustotal" in key %}

                    <br>
                    <h1 class="row">Virustotal Information</h1>
                    <br>

                    <div style="overflow-x:auto;">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>Summary</td>
                            <td>Resolutions</td>
                            <td>Domain Report</td>
                            <td>URL Report</td>
                        </tr>
                        <tr>
                            <td>
                                {% for i in value.summary %}
                                    <p>{{ i }}</p>
                                {% endfor %}
                            </td>

                            <td>
                                {% for i in value.resolutions[:10] %}
                                    <p>{{ i }}</p>
                                {% endfor %}
                            </td>

                            <td>
                                {% for i in value.domain %}
                                    <p>{{ i }}</p>
                                {% endfor %}
                            </td>

                            <td>
                                {% for i in value.url %}
                                    <p>{{ i }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}

            {% if 'ibm' in key %}
                    <br>
                    <h1 class="row">IBM X-Force Information</h1>
                    <br>

                    <div style="overflow-x:auto;">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>Summary</td>
                            <td>Details</td>
                        </tr>
                        <tr>
                            <td>
                                {% for i in value.summary %}
                                    <p>{{ i }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for i in value.geo %}
                                    <p>{{ i }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>

    <script src="/static/js_stuff/lookup_ip_url.js"></script>

{% endblock content %}